{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="main-wrapper">

{% comment %} header  {% endcomment %}

{% include "header.html" %}


<div class="breadcrumb-bar">
<div class="container-fluid">
<div class="row align-items-center">
<div class="col-md-12 col-12">
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">My Preachers</li>
</ol>
</nav>
<h2 class="breadcrumb-title">My Preachers</h2>
</div>
</div>
</div>
</div>


<div class="content">
<div class="container">
<div class="row">
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

{% comment %} profile side bar  {% endcomment %}

{% include "instructor-sidebar.html" %}

</div>





<div class="col-md-7 col-lg-8 col-xl-9">
<div class="row row-grid">


{% for course in courses%}

<div class="col-md-6 col-lg-4 col-xl-3">
<div class="card widget-profile pre-widget-profile">
<div class="card-body">
<div class="pro-widget-content">
<div class="profile-info-widget">
<a href="preacher-profile.html" class="booking-ser-img">
<img src="{{ course.cover.url }}" alt="User Image">
</a>
<div class="profile-det-info">
<h3><a href="preacher-profile.html">{{ course.title }}</a></h3>
<div class="preacher-details">
<h5><b>Category :</b> {{ course.cat.name }}</h5>
</div>
</div>
</div>
</div>
<div class="preacher-info">
<a href="/course-details/{{ course.id }}" class="btn btn-info">Details</a>
</div>

</div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>
</div>


{% comment %} footer  {% endcomment %}
{% include "footer.html" %}

</div>


{% endblock %}